# Git attributes.

# Copyright 2022 Yucheng Liu. Apache License Version 2.0.
# Apache License Version 2.0 copy: http://www.apache.org/licenses/LICENSE-2.0

# https://help.github.com/articles/dealing-with-line-endings/
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
